.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
  background-image: url('/images/l.webp');
  background-repeat: repeat;
  background-attachment: fixed;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}


.brain {
  width: 120vh;
  height: 50vh;
}

.gif {
  height: 10vh;
  position: absolute;
  margin-top: 50vh;
}

.linksContainer {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: -10vh;
  color: #93f400;
  margin: 4vh;
}

.links {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  color: #93f400;
  margin-top: -1vh;
  margin: 2vh;
  background-color: var(--button-secondary-hover);
}

.linkComments {
  margin-top: 26.5vh;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  color: #93f400;
}

.commentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--button-secondary-hover);
  padding: 5vh;
}

.aboutArt {
  height: 60vh;
  width: 60vh;
}

.mews {
  position: absolute;
  display: flex;
  flex-direction: row;
  transform: scaleX(-1);
  height: auto;
}

.mewRight,
.mewLeft {
  position: absolute;
  top: 0;
  transform: none;
  cursor: pointer;
  z-index: 1;
  height: auto;
  width: auto;
}

.mewLeft {
  transform: scaleX(-1);
}



.kitty {
  margin-top: 1vh;
}

.name {
  margin: 3vh;
  color: #ffffff;
  position: relative;
}

.nameDiv {
  position: absolute;
}

.textarea {
  height: 10vh;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.commentButton {
  padding: 10px 15px;
  background-color: #93f400;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}


.commentButton:hover {
  background-color: #ffa6fc;
}

.commentsSection {
  margin-top: 30px;
}

.comment {
  background-color: #000000;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.commentText {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
}

.commentTimestamp {
  font-size: 12px;
  color: #ffffff;
  text-align: right;
}

.links:hover {
  background-color: var(--button-secondary-hover);
  color: #ffa6fc;
}

.commentBelow {
  margin-bottom: 50vh;
}

.mewwoBow {
  height: 40vh;
}

.girr {
  height: 10vh;
}

.spotifyEmbed {
  border: none;
  background-color: transparent;
  margin-top: -12vh;
}

.bubbles {
  width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.github {
  font-size: 3vh;
}

.github :hover {
  font-size: 3vh;
  color: #ffa6fc;
}

.umb {
  height: 40vh;
  width: 30vh;
  right: 20vh;
  position: absolute;
}

.code {
  color: #93f400;
  text-align: center;
  font-size: 13vh;
  position: relative;
  background-color: var(--button-secondary-hover);

}

.clouds {
  height: 50vh;
  width: 30vh;
  position: absolute;
  left: 5vh;
}

.selfie {
  height: 60vh;
  width: 45vh;
  position: absolute;
  margin-top: -10vh;
}

.about {
  color: #93f400;
  margin-top: 15vh;
  text-align: center;
  position: relative;
  background-color: var(--button-secondary-hover);

}

.slideshow {
  position: relative;
  width: 120%;
  height: 700px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  opacity: 1;
}

.image {
  height: auto;
}

.input {
  text-align: center;
}


.commForm {
  text-decoration: none;
  transition: background-color 0.3s ease;
  color: #ffffff;
  text-align: center;
  background-color: var(--button-secondary-hover);
  padding: 3vh;
}

.commBg {
  background-color: var(--button-secondary-hover);
  padding: 5vh;
}

.gloomy2 {
  position: relative;

}


.artText {
  text-decoration: none;
  transition: background-color 0.3s ease;
  color: #ffffff;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--button-secondary-hover);
  padding: 1vh;
}

.mewText {
  font-size: 1vh;
  color: #ffffff;
  background-color: var(--button-secondary-hover);
  padding: 2vh;
}

.here {
  color: #ffa6fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: absolute;
}


.flower {
  position: relative;
  margin-bottom: 15vh;
  top: 80%
}

.progAbout {
  color: #ffa6fc;
}

.progAbout:hover {
  color: #93f400;
}

.email {
  color: #ffa6fc;
}

@media (max-width: 1110px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .mews {
    position: relative;
    transform: translateX(-50%);
    
  }

  .mewLeft,
  .mewRight {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
  }


  .mewLeft {
    margin-right: 1vh;
  }

  .mewRight {
    right: 0px;
    transform: scaleX(-1);
    margin-top: -41vh;
    position: absolute;
  }



  .aboutArt {
    height: 40vh;
    width: 40vh;
  }

  .music {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spotifyEmbed {
    border: none;
    background-color: transparent;
    margin-top: 10vh;
  }

  .linksContainer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .links {
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: greenyellow;
    margin: 2.5vh;
    flex-direction: column;
  }

  .links:hover {
    background-color: var(--button-secondary-hover);
  }

  .gif {
    position: relative;
    margin-top: -10vh;
  }

  .bubbles {
    height: 10vh;
    padding-top: 15vh;
    margin-bottom: -20vh;
  }


  .code {
    color: #93f400;
    text-align: center;
    font-size: 2vh;
    margin-top: 1vh;
  }

  .umb {
    height: 38vh;
    width: 25vh;
    margin-top: 3vh;
    left: 1vh;
    position: relative;
  }

  .clouds {
    height: 50vh;
    width: 20vh;
    left: 1vh;
    position: relative;
  }


  .selfie {
    height: 60vh;
    width: 30vh;
    position: relative;
  }

  .about {
    font-size: 2vh;
  }

  .slideshow {
    position: relative;
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .gloomy2 {
    position: relative;
  }



  .slideshow {
    position: relative;
    width: 40vh;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .commForm {
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: -3vh;
  }

  .mewwoBow {
    height: 50vh;
    width: 40vh;
  }

  .mewwoo {
    height: 50vh;
  }



}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

@media (max-width: 2368px) {


  .umb {
    height: 40vh;
    width: 30vh;
    position: relative;
    left: 1%;
    right: 10vh;
    margin-top: 40vh;
    margin-right: 5vh;
    display: block;
  }

  .code {
    color: #93f400;
    text-align: center;
    font-size: 2vh;
    margin: 5vh auto;
    position: relative;
  }



  .clouds {
    position: relative;
    top: 90%;
    margin-right: 28vh;
    margin-top: 5vh;
  }

  .linksContainer {
    position: relative;
    display: inline;
    margin-top: 30vh;
  }

  .mews {
    position: relative;
    top: 200%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    height: 15vh;
    width: 1vh;
    margin-top: 15vh;
  }


  .mewLeft,
  .mewRight {
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    height: 30vh;
    width: 15vh;
  }


  .mewLeft {
    left: 0px;
    transform: scaleX(-1);
    margin-right: 4vh;
  }
}

@media (max-width: 2500px) {

  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .selfie {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .brain {
    width: 58vh;
    height: 20vh;
  }

  .umb {
    height: 40vh;
    width: 30vh;
    position: absolute;
  }

  .code {
    color: #93f400;
    font-size: 2vh;
  }

  .clouds {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .linksContainer {
    margin-top: -40vh;
    display: inline;
  }

  .about {
    color: #93f400;
    margin-top: 20vh;
    font-size: 2vh;
    text-align: center;
    position: relative;
  }

  .mewwoo {
    height: 50vh;
  }


}

@media (max-width: 2500px) {

  .brain {
    width: 100vh;
    height: 30vh;
  }

  .umb {
    position: relative;
    margin-top: -5vh;
    margin-bottom: -20vh;
  }

  .gloomy2 {
    padding-bottom: 2vh;
  }

  .selfie {
    margin-right: 1vh;
    width: 45vh;
  }

  .about {
    margin-top: -10vh;
  }


  .clouds {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25vh;
  }

  .commentBelow {
    background-color: var(--button-secondary-hover);
    padding: 5vh;
  }

  .linksContainer {
    display: inline;
    margin-top: -8vh;
  }

  .mewText {
    font-size: 1.5vh;
    color: #ffffff;
    background-color: var(--button-secondary-hover);
    padding: 2vh;
  }

  .mews {
    position: absolute;
    top: 160%;
    left: 50%;
    display: flex;
    flex-direction: row;
    margin-right: 120vh;
    transform: scaleX(-1);
    margin-top: 35vh;

  }

  .mewRight,
  .mewLeft {
    position: absolute;
    top: 0;
    transform: none;
    cursor: pointer;
    z-index: 1;
    margin-top: -30vh;
    right: 15vh;
    height: 20vh;
  }

  .mewLeft {
    transform: scaleX(-1);
    margin-top: -10vh;
  }

  .mewRight {
    margin-top: 1vh;
    margin-top: -11vh;
    margin-right: -15vh;
  }



  .kitty {
    margin-top: 1vh;
  }

}


@media (max-width: 1200px) {
  .linksContainer {
    display: inline-block;
    margin: 5vh;
  }

  .brain {
    width: 60vh;
  }

  .mews {
    position: absolute;
    top: 130%;
    left: 50%;
    display: flex;
    flex-direction: row;
    margin-right: 120vh;
    transform: scaleX(-1);

  }

  .mewRight,
  .mewLeft {
    position: absolute;
    top: 0;
    transform: none;
    cursor: pointer;
    z-index: 1;
    right: 15vh;
    height: 20vh;
  }

  .mewLeft {
    transform: scaleX(-1);
    margin-top: -10vh;
  }

  .mewRight {
    margin-top: 1vh;
    margin-top: -11vh;
    margin-right: -15vh;
  }
}

@media (max-width: 950px) {
  .brain {
    width: 45vh;
  }
}

@media (min-width: 1280px) {
  .mews {
    position: absolute;
    display: flex;
    flex-direction: row;
    transform: scaleX(-1);
    height: auto;
  }
  
  .mewRight,
  .mewLeft {
    position: absolute;
    top: 0;
    transform: none;
    cursor: pointer;
    z-index: 1;
    height: auto;
    width: auto;
  }
  
  .mewLeft {
    transform: scaleX(-1);
  }
  
  
  
  .kitty {
    margin-top: 1vh;
  }
  
}